body {
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
    cursor: default;
}

.systemAppIcon {
    background: url('../img/top_icons.png') no-repeat 0 0;
}

.canvasResizingAdorner {
    background-color: #FFF;

    border: 1px solid #555555;
    width: 3px;
    height: 3px;
}

.rulers {
    background-color: #F1F3F8;
    border: 0 solid #8E9CAF;
}

.horizontal_ruler_block {
    height: 18px;
    border-bottom-width: 1px;
}

.vertical_ruler_block {
    width: 18px;
    border-right-width: 1px;
}

.gridlines {
    position: absolute;
}