.menu-icon {
    background: url('../img/menu_icons.png') no-repeat;
    height: 24px;
    width: 32px;
}

.menu-icon-new {
    background-position: -10px 0;
}

.menu-icon-open {
    background-position: -54px 0;
}

.menu-icon-save {
    background-position: -102px 0;
}

.menu-icon-save-as {
    background-position: -152px 0;
}

.menu-icon-print {
    background-position: -204px 0;
}

.menu-icon-from-scanner {
    background-position: -254px 0;
}

.menu-icon-send-mail {
    background-position: -304px 0;
}

.menu-icon-set-background {
    background-position: -356px 0;
}

.menu-icon-properties {
    background-position: -410px 0;
}

.menu-icon-about {
    background-position: -460px 0;
}

.menu-icon-exit {
    background-position: -510px 0;
}