#picker_block 
{
	background-color: #F0F0F0;
	
	border-style: solid;
	border-color: black;
	border-width: 1px;
	
	height: 400px;
	width: 500px;
}

.color_cell
{
	border-width: 1px;
	border-style: inset;
	border-color: #909090;
	
	height: 15px;
	width: 15px;
	
	margin: 2px;
}

.color_param
{
	height: 18px;
	width: 25px;
}

#color_example
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;

	height: 40px;
	width: 58px;
}

#app
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#palette_crosshair
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.ok_button
{
	height: 21px;
	width: 64px;
}

.cancel_button
{
	height: 21px;
	width: 64px;
}

input.add_to_custom
{
	height: 21px;
	width: 211px;
}