#app
{
	-moz-user-select: none;
	-webkit-user-select: none;
	
	cursor: default;
}

#canv
{
	background-color: #FFF;
	cursor: crosshair;
	
	-webkit-box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.5);
}

#workzone
{
	background-color: #DCE5F2;
	padding: 7px 7px 10px 7px;
	
	overflow: auto;
    height: 500px;
 }
 
 #statusbar
 {
     border-top: 1px solid #919191;
     height: 26px;
	
	padding: 1px;
 }
 
 #statusbar_inner
 {
	background-color: #F1EDED;
	height: 26px;
	
	overflow: hidden;
 }
 
 #outer_toolbar
 {
     border-bottom: 1px solid #9FAEC2;
 }
 
 #toolbar
 {
     border: 1px solid #B9D1EA;
     border-top-color: #BAC9DB;
     border-bottom-color: #CEDBEB;
 }

#inner_toolbar
{
	/* gradient */
	background: rgb(245,250,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,250,255,1) 0%, rgba(220,231,245,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,250,255,1)), color-stop(50%,rgba(220,231,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,250,255,1) 0%,rgba(220,231,245,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,250,255,1) 0%,rgba(220,231,245,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245,250,255,1) 0%,rgba(220,231,245,1) 50%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(245,250,255,1) 0%,rgba(220,231,245,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5faff', endColorstr='#dce7f5',GradientType=0 ); /* IE6-9 */

    border: 1px solid #EEF5FD;
}
 
 #brush_width_block
 {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 3px 1px 2px rgba(0, 0, 0, 0.3);

    border: 1px solid #8492A6;
    background-color: #FFF;
	position: absolute;
	visibility: collapse; 
	width:130px; 
}

.color_in_palette, .color_in_palette:hover, .color_selected, .color_selected:hover
{
	border-width: 1px;
	border-style: solid;
	
	padding: 1px;
}

.color_in_palette, .color_selected
{
	border-color: #A0A0A0;
}

.color_in_palette:hover
{
	border-color: #F29436;
	background-color: #FFE294;
}

.color_in_palette:active
{
	border-color: #EF4810;
}

.toolbar_separator
{
    border: 1px solid #FFF;

    background-color: #A5B7D0;
	padding: 0;
	margin: 0 5px;
	
	width: 1px;
	height: 70%;
	
	overflow: hidden;
}

.toolbar_caption
{
	font-family: Calibri, Verdana, Ariel, sans-serif;
	font-size: 12px;
	color: #7383A9;
	text-align: center;
}

.resizing_adorner
{
	background-color: #FFF;

    border: 1px solid #555555;
    width: 3px;
	height: 3px;
}

#south_resizing_adorner 
{
	cursor: s-resize;
	margin: 0 auto;
}

#east_resizing_adorner
{
	cursor: e-resize;
}

#se_resizing_adorner
{
	cursor: se-resize;
}

.resizing_canvas 
{
    border: 1px dotted #000;
    position: absolute;
}

.tool_table
{
	margin: 4px;
}

.tool_item_left
{
    border: 1px solid #B0C0D5;
    -webkit-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
}

.tool_item_center
{
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #B0C0D5;
}

.tool_item_right
{
    border: 1px solid #B0C0D5;
    -webkit-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
}

.statusbar_icon
{
	width: 20px;
}

.statusbar_text
{
	font-size: 13px;

    border-right: 1px solid #D7D7D7;
    width: 135px;
}

#eraser_cursor
{
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	
	cursor: none;	
	
	position: absolute;
}

#shape_table
{
	background-color: #F3F7FC;

    border: 1px solid #AABBD2;
}

.main_menu_button
{
	background-image: url('../img/main_menu_button.png');
	
	height: 22px;
	width: 56px;
}

.main_menu_button:hover
{
	background-image: url('../img/main_menu_button_hover.png');
	
	height: 22px;
	width: 56px;
}

.system_border
{
	border-style: solid;
	border-width: 3px;
	border-color: #BAD2EA;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0 0;
}

.system_bar
{
	background: rgb(152,180,208); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(152,180,208,1) 0%, rgba(185,209,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(152,180,208,1)), color-stop(100%,rgba(185,209,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(152,180,208,1) 0%,rgba(185,209,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(152,180,208,1) 0%,rgba(185,209,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(152,180,208,1) 0%,rgba(185,209,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(152,180,208,1) 0%,rgba(185,209,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b4d0', endColorstr='#b9d1ea',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.outer_border
{
	border-color: #444;
	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.system_button
{
	height: 17px;
	width: 31px;
}

#minimize_button
{
	background-image: url('../img/system_buttons/btn_minimize.png');
}

#minimize_button:hover
{
	background-image: url('../img/system_buttons/btn_minimize_hover.png');
}

#maximize_button
{
	background-image: url('../img/system_buttons/btn_maximize.png');
}

#maximize_button:hover
{
	background-image: url('../img/system_buttons/btn_maximize_hover.png');
}

#close_button
{
	background-image: url('../img/system_buttons/btn_close.png');
}

#close_button:hover
{
	background-image: url('../img/system_buttons/btn_close_hover.png');
}

.system_separator
{
    border: 0 solid #C3DCF7;
    border-right-width: 1px;
    border-left-width: 1px;
    background-color: #7A8793;
	padding: 0;
	
	width: 1px;
	height: 50%;
	
	overflow: hidden;
}

.menu_item, .menu_item:hover
{
	background-color: #FBFDFF;
	
	border-width: 1px 1px 0 1px;
	border-style: solid; 
	
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0 0;
	
	color: #15428B;
	font-size: 13px;
	font-family: Calibri, Verdana, Ariel, sans-serif;
	
	Padding: 3px 10px 3px 10px;
}

.menu_item
{
	border-color: #9FAEC2;
}

.menu_item:hover
{
	border-color: #FFA90A;
	
	-webkit-box-shadow: 0 0 2px 2px rgba(255, 169, 10, 0.3);
	box-shadow: 0 0 2px 2px rgba(255, 169, 10, 0.3);
}

#menu_bar
{
	background-color: #DFE9F5;
	
	height: 24px;
}

#rotate_block
{
	background-color: #FCFCFC;

    border: 1px solid #8492A6;
    -webkit-border-radius: 2px;
	border-radius: 2px;
	
	padding: 1px;
	position: absolute;
	
	visibility: hidden;
}

.popup-container
{
    background-color: #FCFCFC;

    border: 1px solid #8492A6;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    padding: 1px;
}

.common_button:hover .rotate_block_image
{
	background-color: transparent;
}

.rotate_block_image
{
	background-color: #F3F7FB;

    border-right: 1px solid #CFDBEB;
    padding: 6px;
	
	height: 14px;
	width: 16px;
}

.rotate_block_text
{
	color: #254264;
	font-size: 13px;
	
	padding-left: 9px;
	padding-right: 15px;
}

#main_menu
{
    border: 1px solid #8492A6;
    -webkit-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.3);
	
	position: absolute;
	display: none;
}

#main_menu_bottom
{
	background: rgb(250,253,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(250,253,255,1) 0%, rgba(226,234,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,253,255,1)), color-stop(100%,rgba(226,234,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,253,255,1) 0%,rgba(226,234,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,253,255,1) 0%,rgba(226,234,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,253,255,1) 0%,rgba(226,234,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(250,253,255,1) 0%,rgba(226,234,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafdff', endColorstr='#e2eaf9',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #C9D5E7;
}

#recent_pictures_block
{
	background-color: #EFF5FA;
	
	vertical-align: top;
	
	height: 495px;
	width: 300px;
}

#recent_pictures_list
{
	width: 100%;
}

#main_menu_top
{
	background: rgb(241,248,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(241,248,254,1) 46%, rgba(220,231,245,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(241,248,254,1)), color-stop(50%,rgba(220,231,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,248,254,1) 46%,rgba(220,231,245,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,248,254,1) 46%,rgba(220,231,245,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,248,254,1) 46%,rgba(220,231,245,1) 50%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(241,248,254,1) 46%,rgba(220,231,245,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f8fe', endColorstr='#dce7f5',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #ABB8C9;
}

#main_menu_icons
{
	background-color: #FCFCFC;
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CFDBEB;
}

.main_menu_item_text
{
	color: #254264;
}

.main_menu_item_text[disabled^="disabled"]
{
    color: #999;
}

 .recent_image_item
 {
	color: #254264;
}

.main_menu_separator
{
    border-bottom: 1px solid #CFDBEB;
}

#recent_pictures_header
{
    border-bottom: 1px solid #CFDBEB;
}

.common_button
{
    border: 1px solid transparent;
}

.button:hover, .common_button:hover
{
	border-color: #FFB700;
	border-style: solid;
	
	background: #fdecda; /* Old browsers */
	background: -moz-linear-gradient(top, #fdecda 0%, #fde0bd 40%, #ffce69 42%, #fffeac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdecda), color-stop(40%,#fde0bd), color-stop(42%,#ffce69), color-stop(100%,#fffeac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdecda 0%,#fde0bd 40%,#ffce69 42%,#fffeac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdecda 0%,#fde0bd 40%,#ffce69 42%,#fffeac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdecda 0%,#fde0bd 40%,#ffce69 42%,#fffeac 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fdecda 0%,#fde0bd 40%,#ffce69 42%,#fffeac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdecda', endColorstr='#fffeac',GradientType=0 ); /* IE6-9 */
}

.common_button:hover
{
	border-width: 1px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.tool_button_selected, .common_button_selected
{
	background: rgb(255,220,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,220,160,1) 0%, rgba(255,209,129,1) 37%, rgba(255,196,93,1) 39%, rgba(255,214,127,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,220,160,1)), color-stop(37%,rgba(255,209,129,1)), color-stop(39%,rgba(255,196,93,1)), color-stop(100%,rgba(255,214,127,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,220,160,1) 0%,rgba(255,209,129,1) 37%,rgba(255,196,93,1) 39%,rgba(255,214,127,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,220,160,1) 0%,rgba(255,209,129,1) 37%,rgba(255,196,93,1) 39%,rgba(255,214,127,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,220,160,1) 0%,rgba(255,209,129,1) 37%,rgba(255,196,93,1) 39%,rgba(255,214,127,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,220,160,1) 0%,rgba(255,209,129,1) 37%,rgba(255,196,93,1) 39%,rgba(255,214,127,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdca0', endColorstr='#ffd67f',GradientType=0 ); /* IE6-9 */
	
	border-color: #C29B29;
	border-style: solid;
}

.common_button_selected
{
    border: 1px solid #C29B29;
    border-radius: 2px;
	-webkit-border-radius: 2px;
}

.main_menu_item
{
	height: 42px;
}

.size_line
{
    border: solid #000;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.size_button
{
	height: 40px;
}

#brush_width_button
{
	height: 66px;
	width: 42px;
}

#canvas_resize_window
{
	position: absolute;
}

.resize_window_button
{
	height: 24px;
	width: 86px;
}

.resizing_window_input
{
	width: 60px;
	height: 22px;
}

.main_menu_additional_window
{
	background-color: #FCFCFC;
	
	border-color: #8492A6;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	
	position: absolute;
	
	-webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.trap_filepicker
{
	height: 100%;
	width: 100%;

	opacity: 0;
	
	position: absolute;
}

#canvas_resize_window_content
{
	background-color: #F0F0F0;
}

.rulers
{
    background-color: #F1F3F8;
    border: 0 solid #8E9CAF;
}

#horizontal_ruler_block
{
    height: 18px;
    border-bottom-width: 1px;
}

#vertical_ruler_block
{
    width: 18px;
    border-right-width: 1px;
}